<div *ngIf="hero">
    <h2>{{hero.name | uppercase}} - ID: {{hero.id}}</h2>

    <form [formGroup]="formGroup" (ngSubmit)="save()">
    
        <mat-form-field >
            <mat-label>Hero name</mat-label>
            <input matInput placeholder="Hero name" formControlName="name">
            <!--falta personalização de erros-->
        </mat-form-field>
        <br>

        <mat-form-field class="standard">
            <mat-label>Hero description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <br>

        <mat-form-field class="standard">
            <mat-label>Hero image URL</mat-label>
            <input matInput placeholder="Hero image" formControlName="imageUrl">
        </mat-form-field>
        <br>
        <div>
            <mat-form-field class="standard">
                <mat-label>Universe</mat-label>
                <mat-select formControlName="universe">
                  <mat-option *ngFor="let universe of heroUniverses" [value]="universe">
                    {{universe | uppercase}}
                  </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <br>
        <button mat-raised-button type="button" (click)="onGoBack()">Go back</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid">Save</button>
    
    </form>
</div>
