/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 1em 0;
  list-style-type: none;
  padding: 5px;
  width: 1000px;
  max-width: 550px;
}


.heroes li {
  position: relative;
  cursor: pointer;
}

.heroes li:hover {
  left: .1em;
}

.heroes a {
  color: #333;
  text-decoration: none;
  background-color: rgb(248, 248, 248);
  margin: 1px;
  padding:2px;
  height: 50px;
  border-radius: 4px;
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
  
}

.heroes a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.heroes a:active {
  background-color: #525252;
  color: #fafafa;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  line-height: 1em;
  height: 50px;
  width: 50px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.add-button {
 position: fixed;
 right: 30px;
 bottom: 30px;

}

.add-button:hover {
  color: white;
  background-color: #42545C;
}

button.delete {
  position: absolute;
  left: 540px;
  top: 15px;
  background-color: rgb(241, 241, 241);
  color:  #525252;
  font-size: 1.1rem;
  font-weight: 900;
  padding: 5px 10px 5px 10px;
  border-radius: 50px;
  margin: none;
}

button.delete:hover {
  background-color: #db0808;
  color: white;
}

